

nav{
  h1{border-style:solid;
  border-color:yellow;
  background-color:yellow;
  text-align:center;
  height:70px; 
  }
h1{
  text-align:center; 
  }
a{
  display:flex;
  align-items: ;
  justify-content:space-evenly;
  flex-direction:;
  text-decoration:none;
  }
img{